<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPX Player</title>
    <!-- 네이버 지도 API 스크립트 추가 -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=3lhrtcyfcx"></script>
    <!--  A-Frame(360도 영상 view) 라이브러리 추가 -->
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>

    <style>
        /* 화면을 절반으로 나누는 스타일 */
        #video-viewer, #map-viewer {
            width: 100%;
            height: 50vh; /* viewport height의 50% */
            overflow: hidden;
        }
    </style>
</head>
<body data-lat="{{ point[0] }}" data-lng="{{ point[1] }}">
    <!-- 영상 뷰어 -->
    <div id="video-viewer">

        <a-scene height: 70vh >
            <a-assets>
              <video id="myVideo" src="{{ url_for('static', filename='videos/VID_20231024_171219_00_002.mp4') }}" autoplay loop="true"></video>
            </a-assets>
            <a-videosphere src="#myVideo"></a-videosphere>
          </a-scene>
    </div>

    <!-- 비디오 컨트롤 버튼 -->
    <div style="text-align: center; padding: 10px; position: relative; z-index: 10;">
        <button onclick="document.getElementById('myVideo').play()">재생</button>
        <button onclick="document.getElementById('myVideo').pause()">일시정지</button>
        <button onclick="restartVideo()">재시작</button>
    </div>


    <!-- 네이버 지도 뷰어 -->
    <div id="map-viewer"></div>

    <script>
        // 네이버 지도 초기화
        var lat = parseFloat(document.body.getAttribute('data-lat'));
        var lng = parseFloat(document.body.getAttribute('data-lng'));
        var mapOptions = {
            center: new naver.maps.LatLng(lat, lng),
            zoom: 17
        };
        var map = new naver.maps.Map('map-viewer', mapOptions);
    
        // 마커 초기화 (동그라미 형태)
        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(lat, lng),
            map: map,
            icon: {
                content: '<div style="width:12px;height:12px;border-radius:50%;background:#ff0000;"></div>',
                anchor: new naver.maps.Point(6, 6)
            }
        });
    
        // 전체 경로 폴리라인 초기화
        var totalPathPolyline = new naver.maps.Polyline({
            map: map,
            strokeColor: '#cccccc', // 어두운색
            strokeOpacity: 0.8,
            strokeWeight: 5 // 두꺼운선
        });

        // 영상 위치에 따른 이동 경로 폴리라인 초기화
        var videoPathPolyline = new naver.maps.Polyline({
            map: map,
            strokeColor: '#00FF00', // 밝은색
            strokeOpacity: 0.8,
            strokeWeight: 2 // 얇은선
        });

        // 비디오 재시작시 영상 위치에 따른 이동 경로 폴리라인 초기화
        function restartVideo() {
            videoElement.currentTime = 0; // 비디오 재시작
            videoPathPolyline.setPath([]); // 영상 위치에 따른 이동 경로 폴리라인 초기화
        }
    
        // 비디오 재생 위치에 따라 호출되는 함수
        function updateMapPosition(lat, lng) {
            console.log("updateMapPosition called with:", lat, lng); // 로그 추가

            // 새로운 위치로 마커 이동
            var newPosition = new naver.maps.LatLng(lat, lng);
            marker.setPosition(newPosition);

            // 지도의 중심을 마커의 위치로 변경
            map.setCenter(newPosition);

            // 영상 위치에 따른 이동 경로 폴리라인에 새로운 위치 추가
            var path = videoPathPolyline.getPath();
            // path.push(new naver.maps.LatLng(lat, lng));
            path.push(newPosition);
            videoPathPolyline.setPath(path);

        }
    
        // 비디오 요소 참조
        var videoElement = document.querySelector('#myVideo');
    
        // GPX 데이터와 비디오 데이터 싱크맞춤
        fetch('/gpx-data')
        .then(response => response.json())
        .then(data => {
            var gpxData = data;

            // GPX 데이터를 가져와서 지도에 전체 경로 표시
            var path = data.map(coords => new naver.maps.LatLng(coords.lat, coords.lon)); // 수정된 부분
            totalPathPolyline.setPath(path);
            
    
            // GPX 데이터의 첫 번째 시간을 비디오의 시작 시간으로 설정
            var videoStartTime = new Date(gpxData[0].time);

            videoElement.addEventListener('timeupdate', function() {
                // 비디오의 현재 재생 위치에 시작 시간을 더함
                var currentVideoTime = new Date(videoStartTime.getTime() + videoElement.currentTime * 1000);
                
                // 시간 값을 콘솔에 출력
                console.log("Video Time:", currentVideoTime);

                var correspondingGPXDataIndex = gpxData.findIndex(d => new Date(d.time) > currentVideoTime);

                if (correspondingGPXDataIndex !== -1 && correspondingGPXDataIndex > 0) {
                    var correspondingGPXData = gpxData[correspondingGPXDataIndex - 1];
                    // console.log(correspondingGPXData);
                    // console.log("GPX Time:", new Date(correspondingGPXData.time));
                    // console.log("lat : "+correspondingGPXData.lat+", lon : "+correspondingGPXData.lon);
                    updateMapPosition(correspondingGPXData.lat, correspondingGPXData.lon);
                }
            });

            // 지도를 클릭했을 때의 이벤트 리스너
            map.addListener('click', function(e) {
                // 클릭한 지점의 위도와 경도를 가져온다.
                var clickedPoint = e.coord;
                
                // 클릭한 지점의 위도와 경도를 픽셀 좌표로 변환한다.
                var clickedPixel = map.getProjection().fromCoordToPoint(clickedPoint);

                // 가장 가까운 GPX 데이터의 인덱스와 그 거리를 찾는다.
                // reduce 함수를 사용하여 GPX 데이터 배열을 순회하며 가장 가까운 데이터를 찾는다.
                var closestData = gpxData.reduce(function(acc, curr, index) {
                    // 현재 GPX 데이터의 위도와 경도를 픽셀 좌표로 변환한다.
                    var currPixel = map.getProjection().fromCoordToPoint(new naver.maps.LatLng(curr.lat, curr.lon));
                    
                    // 클릭한 지점과 현재 GPX 데이터 포인트 간의 픽셀 좌표 거리를 계산한다.
                    var dx = clickedPixel.x - currPixel.x;
                    var dy = clickedPixel.y - currPixel.y;
                    var distance = Math.sqrt(dx * dx + dy * dy);

                    // 만약 현재 거리가 이전에 찾은 거리보다 작으면 현재 데이터를 반환한다.
                    if (distance < acc.distance) {
                        return {
                            index: index,
                            distance: distance
                        };
                    } else {
                        return acc;
                    }
                }, { index: -1, distance: Infinity });

                // 만약 클릭한 지점과 가장 가까운 GPX 데이터 포인트 간의 거리가 0.0001보다 크면 함수를 종료한다.
                // 이는 사용자가 GPX 경로에서 너무 멀리 클릭했을 경우를 처리하기 위함이다.
                if (closestData.distance > 0.0001) {
                    return;
                }

                // 클릭한 지점까지의 GPX 데이터를 가져온다.
                var pathToClickedPoint = gpxData.slice(0, closestData.index + 1).map(data => new naver.maps.LatLng(data.lat, data.lon));

                
                // 영상 위치에 따른 이동 경로 폴리라인에 새로운 경로를 설정한다.
                videoPathPolyline.setPath(pathToClickedPoint);

                var correspondingGPXData = gpxData[closestData.index];
                videoElement.currentTime = (new Date(correspondingGPXData.time) - videoStartTime) / 1000;
            });
            
        });

        

    </script>

</body>
</html>