<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPX Player</title>
    <!-- 네이버 지도 API 스크립트 추가 -->
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=3lhrtcyfcx"></script>
    <!--  A-Frame(360도 영상 view) 라이브러리 추가 -->
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>

    <style>
        /* 화면을 절반으로 나누는 스타일 */
        #video-viewer, #map-viewer {
            width: 100%;
            height: 70vh; /* viewport height의 50% */
            overflow: hidden;
        }
    </style>
</head>
<body data-lat="{{ point[0] }}" data-lng="{{ point[1] }}">
    <!-- 영상 뷰어 -->
    <div id="video-viewer">
        <a-scene height: 70vh >
            <a-assets>
              <video id="myVideo" src="{{ url_for('static', filename='videos/VID_20231024_171219_00_002.mp4') }}" autoplay loop="true"></video>
            </a-assets>
            <a-videosphere src="#myVideo"></a-videosphere>
          </a-scene>
    </div>

    <!-- 네이버 지도 뷰어 -->
    <div id="map-viewer"></div>

    <script>
        // 네이버 지도 초기화

        var lat = parseFloat(document.body.getAttribute('data-lat'));
        var lng = parseFloat(document.body.getAttribute('data-lng'));

        var mapOptions = {
            center: new naver.maps.LatLng(lat, lng),
            zoom: 17
        };
        var map = new naver.maps.Map('map-viewer', mapOptions);


        // GPX 데이터를 가져와서 지도에 경로 표시
        fetch('/gpx-data')
        .then(response => response.json())
        .then(data => {
            var path = data.map(coords => new naver.maps.LatLng(coords[0], coords[1]));
            new naver.maps.Polyline({
                map: map,
                path: path,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 2
            });
        });

        // GPX 시간 데이터를 가져와서 영상과 동기화
        fetch('/gpx-time-data')
        .then(response => response.json())
        .then(times => {
            // 여기에서 영상의 재생 시간과 GPX 시간 데이터를 동기화하는 코드를 작성합니다.
        });

    </script>
</body>
</html>
